<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="tokyo.tkw.thinmp">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name=".activity.MainActivity"
            android:label="ThinMP"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ArtistsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AlbumsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.TracksActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.FavoriteArtistsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.FavoriteSongsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PlaylistsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ArtistDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AlbumDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PlayerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.FavoriteSongEditActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.FavoriteArtistEditActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PlaylistsEditActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PlaylistDetailEditActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PlaylistDetailActivity"
            android:screenOrientation="portrait" />

        <service
            android:name=".player.MusicService"
            android:enabled="true"
            android:exported="false" />

    </application>

</manifest>